<div class="container">
  <div class="jumbotron">
    <div>
      <h1>{{ aboutMessage }}</h1>
    </div>
  </div>
  <div class="container">
    <div>Die Logbook App ist eine private Initiative für Athletinnen und Athleten des <a
        href="https://www.rzklettern-berneroberland.ch/" target="_blank">Regionalzentrum Sportklettern Berner
        Oberland</a>.
    </div>
    <p>
      <div>Version: {{ logbookVersion }} {{ metaInfo }}</div>
      <div>&copy; 2016-20</div>
      <p>
        <div>
          <address>
            Für Fragen oder Anregungen: <a href="mailto:christian.egli4@gmail.com">christian.egli4@gmail.com</a>
          </address>
        </div>
  </div>
</div>
