<div class="jumbotron">
    <h1>RZ-BeO Trainings-Logbook</h1>
    <p>Bitte logge dich ein...</p>
</div>
<div>
    <form [formGroup]="loginForm">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <input pInputText placeholder="Benutzername" type="text" name="username"
                        formControlName="username" />
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <input pInputText placeholder="Passwort" type="password" name="password" formControlName="password">
                </div>
            </div>
        </div>
        <div style="margin-left: 0.5em">
            <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" name="rememberMe" />
            Login Daten speichern
        </div>
        <div>&nbsp;</div>
        <div class="form-buttons" style="margin-left: 0.5em">
            <button pButton type="button" class="ui-button-primary" (click)="login()" label="Login"></button>
        </div>

        <div>&nbsp;</div>
        <div>
            <font color="red">{{ loginErrorMessage }}</font>
        </div>
    </form>
</div>