<div class="jumbotron">
  <h4>Password ändern...</h4>
</div>

<div>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

    <div class="form-group">
      <label for="oldPassword">Bestehendes Password *</label>
      <input pInputText type="password" formControlName="oldPassword" id="oldPassword" />
      <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert-danger">Bitte
        bestehendes Passwort eingeben!</div>
    </div>

    <div class="form-group">
      <label for="newPassword">Neues Password *</label>
      <input pInputText type="password" formControlName="newPassword" id="newPassword" />
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert-danger">
        <div *ngIf="newPassword.errors.required">
          Passwort darf nicht leer sein!
        </div>
        <div *ngIf="newPassword.errors.pattern">
          Passwort muss mindestens 5 Zeichen lang sein und eine Zahl enthalten.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmNewPassword">Neues Password bestätigen *</label>
      <input pInputText type="password" formControlName="confirmNewPassword" id="confirmNewPassword" />
      <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)"
        class="alert-danger">
        <div *ngIf="confirmNewPassword.errors.required">
          Passwort darf nicht leer sein!
        </div>
        <div *ngIf="confirmNewPassword.errors.pattern">
          Passwort muss mindestens 5 Zeichen lang sein und eine Zahl enthalten.
        </div>
        <div *ngIf="confirmNewPassword.errors.mustMatch">
          Die neuen Passwörter sind nicht identisch.
        </div>
      </div>
    </div>

    <p-messages [(value)]="msgs"></p-messages>

    <div class="form-buttons">
      <button pButton type="submit" [disabled]="!passwordForm.valid" class="ui-button-primary"
        label="Password ändern"></button>
      <button pButton type="button" style="margin-top: 1.0rem; margin-left: 0.4rem" class="ui-button-secondary"
        (click)="cancel()" label="Abbrechen" *ngIf="!readonly"></button>
    </div>

    <div>&nbsp;</div>
  </form>
</div>
