<div class="jumbotron">
  <h3><small>{{ title }}</small></h3>
</div>
<div>
  <form [formGroup]="statusForm" (ngSubmit)="save()">

    <div class="form-group">
      <label for="datum">Datum *</label>
      <p-calendar [showIcon]="false" formControlName="datum" name="datum" dateFormat="dd.mm.yy" [locale]="deCH"
        [styleClass]="'width100'" [disabled]="readonly" [readonlyInput]="true" (onSelect)="setCorrectDate($event)">
      </p-calendar>
      <div *ngIf="datum.invalid && (datum.dirty || datum.touched)" class="alert-danger">Datum muss einen gültigen Wert
        haben!</div>
    </div>

    <div class="form-group" style="margin-top:0.2rem">
      <label class="che-label2">Gefühl</label>
      <a (click)="selectGrinning()"><img src="{{ imgGrinning }}" class="status-emoji" /></a>
      <a (click)="selectSmirking()"><img src="{{ imgSmirking }}" class="status-emoji" /></a>
      <a (click)="selectFrowning()"><img src="{{ imgFrowning }}" class="status-emoji" /></a>
      <a (click)="selectFearful()"><img src="{{ imgFearful }}" class="status-emoji" /></a>
    </div>
    <div class="form-group">
      <label for="schlaf">Schlaf</label>
      <input pInputText placeholder="in Stunden" type="number" formControlName="schlaf" name="schlaf"
        [attr.disabled]="readonly ? 'disabled' : null" />
      <div *ngIf="schlaf.invalid && (schlaf.dirty || schlaf.touched)" class="alert-danger">Schlaf muss zwischen 0
        und 24 Stunden liegen.</div>
    </div>

    <div class="form-group">
      <label for="bemerkung">Bemerkung</label>
      <input pInputText type="text" formControlName="bemerkung" name="bemerkung"
        [attr.disabled]="readonly ? 'disabled' : null" />
    </div>

    <p-messages [(value)]="msgs"></p-messages>

    <div class="form-buttons">
      <button pButton type="submit" [disabled]="!statusForm.valid" style="margin-top: 1.0em;" class="ui-button-primary"
        label="Speichern" *ngIf="!readonly"></button>
      <button pButton type="button" style="margin-top: 1.0em;" class="ui-button-primary" (click)="cancel()"
        label="Zurück" *ngIf="readonly"></button>
      <button pButton type="button" style="margin-top: 1.0rem; margin-left: 0.4rem" class="ui-button-secondary"
        (click)="cancel()" label="Abbrechen" *ngIf="!readonly"></button>
    </div>

  </form>
</div>