<div class="jumbotron">
  <h6>Trainingseinheiten nach Excel exportieren...</h6>
  <div style="margin-top: 1.0rem">
    <p-dropdown [options]="userOptions" [(ngModel)]="user" (onChange)="onSelectUser($event)">
    </p-dropdown>
    <p-dropdown [options]="yearOptions" [(ngModel)]="year" (onChange)="onSelectYear($event)">
    </p-dropdown>
  </div>
</div>

<p-messages [(value)]="msgs"></p-messages>

<div class="form-buttons">
  <button pButton type="button" style="margin-top: 1.0em;" class="ui-button-primary" (click)="export()"
    label="Exportieren..."></button>
  <button pButton type="button" style="margin-top: 1.0rem; margin-left: 0.4rem" class="ui-button-secondary"
    (click)="cancel()" label="Abbrechen"></button>
</div>
<p>&nbsp;</p>
<div>
  <small>Der Download funktioniert nicht auf allen Geräten.<br>
    Versuche sonst in einem Web Browser (Safari, Chrome, IE...) unter <a href="https://logbook.snoopfish.ch/#/export"
      target="_blank">https://logbook.snoopfish.ch/#/export</a>
  </small>
</div>