target
**/node_modules
**/node_modules_old
dist
build
**/cordova-app/hooks
**/cordova-app/platforms
**/cordova-app/plugins
**/cordova-app/www
.metadata
.settings
.idea
*.iml
*.log
*.lck
*.bin
*.jar
*.pem

credentials
buildAndDeploy*
buildApk.sh