<div class="jumbotron">
  <h4>Wochen<sup>*</sup>-Statistik für </h4>
  <div>
    <p-dropdown [options]="userOptions" [(ngModel)]="user" (onChange)="onSelectUser($event)">
    </p-dropdown>
    <p-dropdown [options]="yearOptions" [(ngModel)]="year" (onChange)="onSelectYear($event)">
    </p-dropdown>
  </div>
  <div>
    <p-dropdown [options]="chartOptions0" [(ngModel)]="selectedChart0" (onChange)="onSelectChart0($event)"></p-dropdown>
    <p-dropdown [options]="chartOptions1" [(ngModel)]="selectedChart1" (onChange)="onSelectChart1($event)"></p-dropdown>
  </div>
</div>

<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart height="360" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<div id="wettkampfTooltip" align="right"></div>
<p>&nbsp;</p>
<div style="padding-bottom: 0.6rem"><small><sup>*</sup> Die angezeigten Daten sind Mittelwerte (resp.
    Maximalwerte) pro Woche.</small></div>
<div *ngIf="isSmallScreen()">
  <small>Die Darstellung der Statistik-Daten auf einem kleinen Bildschirm ist nicht optimal. Versuche sonst in einem Web
    Browser (Safari, Chrome, IE...) unter <a href="https://logbook.snoopfish.ch/#/stat1"
      target="_blank">https://logbook.snoopfish.ch/#/stat1</a>
  </small>
</div>