<div class="jumbotron">
  <h4>Jahres-Statistik für </h4>
  <div>
    <p-dropdown [options]="userOptions" [(ngModel)]="user" (onChange)="onSelectUser($event)">
    </p-dropdown>
    <p-dropdown [options]="yearOptions" [(ngModel)]="year" (onChange)="onSelectYear($event)">
    </p-dropdown>
  </div>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas baseChart height="240" [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
    <p></p>
    <div style="display: block">
      <canvas baseChart height="240" [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>