<div class="jumbotron">
  <p-growl [(value)]="messages" sticky="sticky"></p-growl>
  <h1>{{ aboutMessage }}
  </h1>
</div>

<div>
  <p-dropdown [options]="chartOptions0" [(ngModel)]="selectedChart1" (onChange)="onSelectChart0($event)"></p-dropdown>
  <p-dropdown [options]="chartOptions1" [(ngModel)]="selectedChart2" (onChange)="onSelectChart1($event)"></p-dropdown>
</div>

<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="flex-item">
    <button mat-button mat-raised-button color="primary" (click)="changeColor()">Neu einfärben</button>
    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Züge34</button>
  </div>
</div>