<div class="jumbotron">
  <p-growl [(value)]="messages" sticky="sticky"></p-growl>
  <h4>Jahres-Statistik für </h4>
  <div>
    <p-dropdown [dropdownIcon]="angleDown" [options]="userOptions" [(ngModel)]="selectedUser"
      (onChange)="onSelectUser($event)">
    </p-dropdown>
    <p-dropdown [dropdownIcon]="angleDown" [options]="yearOptions" [(ngModel)]="selectedYear"
      (onChange)="onSelectYear($event)"></p-dropdown>
  </div>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>