@import '../node_modules/esta-webjs-extensions/styles/esta-extension-styles.scss';
@import '../node_modules/primeicons/primeicons.css';

.ui-tabview .ui-tabview-panel { padding: 1em 0em 0em 0em }

.ui-table .ui-table-tbody > tr > td { border: 0px }

.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td {
    border: 0px;
}

.ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    left: 60%;
}

.weekday {
    float: left;
    width: 1.8em;
}

.colMinWithForDate {
    min-width: 100px;
}

.colWidthBenutzer {
    width: 70px;
}

td.nowrap {
    white-space: nowrap;
}

table tr th .ui-dropdown {
    min-width: 2.5em;
}