@import '../node_modules/esta-webjs-extensions/styles/esta-extension-styles.scss';
@import '../node_modules/primeicons/primeicons.css';

.ui-tabview .ui-tabview-panel { padding: 1em 0em 0em 0em }

.ui-table .ui-table-tbody > tr > td { border: 0px }

.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td {
    border: 0px;
}

.ui-inputtext {
    padding: .1em;
}

.weekday {
    float: left;
    width: 1.8em;
}

.colMinWithForDate {
    min-width: 100px;
}

.colWidthBenutzer {
    width: 70px;
}

td.nowrap {
    white-space: nowrap;
}

table tr th .ui-dropdown {
    min-width: 2.5em;
}

.dd-width {
    width: 12.1rem;
}

.che-nowrap {
    white-space: nowrap;
}

.cb-label {
    white-space: nowrap;
    padding-right: 10px;
    margin-bottom: 0.1rem;
}

.status-panel {
    width: 20em;
    padding-top: 0.2em;
    padding-right: 0em;
    padding-bottom: 0.2em;
    padding-left: 0em;
}

.ui-panel .ui-panel-content {
    border-top-color: White;
    border-top-style: solid;
    background-color: #fafafa;
}

.ui-widget-header {
    background-color: #f0f0f0;
}
