<div class="jumbotron">
  <h3><small>{{ title }}</small></h3>
</div>
<div>
  <form [formGroup]="workoutForm">
    <div>
      <label class="che-label">Datum</label>
      <p-calendar [(ngModel)]="datum" [showIcon]="false" formControlName="datum" dateFormat="dd.mm.yy" [locale]="deCH"
        [styleClass]="'che-nowrap'">
      </p-calendar>
    </div>

    <div>
      <label class="che-label" style="padding-bottom: 0.25em;">Ort</label>
      <p-dropdown [options]="locationOptions" [(ngModel)]="location" formControlName="location" [editable]="!readonly"
        [styleClass]="'dd-width'" [placeholder]="'wählen oder eintippen...'">
      </p-dropdown>
    </div>

    <div class="che-label-container">
      <label class="cb-label"><input type="checkbox" [(ngModel)]="lead" formControlName="lead">
        Lead
      </label>
      <label class="cb-label"><input type="checkbox" [(ngModel)]="boulder" formControlName="boulder" />
        Bouldern </label>
      <label class="cb-label"><input type="checkbox" [(ngModel)]="kraft" formControlName="kraft" /> Kraft
      </label>
      <label class="cb-label"><input type="checkbox" [(ngModel)]="stretching" formControlName="stretching" />
        Dehnen </label>
      <label class="cb-label"><input type="checkbox" [(ngModel)]="campus" formControlName="campus" />
        Campus </label>
      <label class="cb-label"><input type="checkbox" [(ngModel)]="mentaltraining" formControlName="mentaltraining" />
        Mentaltraining
      </label>
    </div>

    <div>
      <label class="che-label">Dauer</label>
      <input pInputText placeholder="Wert in Minuten" type="number" formControlName="trainingszeit"
        [attr.disabled]="readonly ? 'disabled' : null" />
    </div>

    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
      <img src="assets/images/belastung.png" alt="Belastung Info" style="width:18rem;" />
    </p-overlayPanel>

    <div class="che-nowrap">
      <label class="che-label">Belastung</label>
      <p-dropdown [options]="belastungOptions" [(ngModel)]="belastung" formControlName="belastung"
        [styleClass]="'dd-width'" [attr.disabled]="readonly ? 'disabled' : null"></p-dropdown>&nbsp;
      <a (click)="op.show($event)"><span class="fa fa-info-circle" aria-hidden="true"></span></a>
    </div>

    <div>
      <label class="che-label">Züge 1-2</label>
      <input pInputText placeholder="Anzahl Züge 1-2" type="number" formControlName="zuege12"
        [attr.disabled]="readonly ? 'disabled' : null" />
    </div>
    <div>
      <label class="che-label">Züge 2-3</label>
      <input pInputText placeholder="Anzahl Züge 2-3" type="number" formControlName="zuege23"
        [attr.disabled]="readonly ? 'disabled' : null" />
    </div>
    <div>
      <label class="che-label">Züge 3-4</label>
      <input pInputText placeholder="Anzahl Züge 3-4" type="number" formControlName="zuege34"
        [attr.disabled]="readonly ? 'disabled' : null" />
    </div>

    <div>
      <label class="che-label">Wettkampf</label>
      <input pInputText placeholder="z.B. EYC, MYCC" type="text" formControlName="wettkampf" [readonly]="readonly" />
    </div>

    <div style="margin-left: 1.0rem;">
      <p-panel header="Status Infos" [styleClass]="'status-panel'">
        <div>
          <label class="che-label-small">Gefühl</label>
          <a (click)="selectGrinning()"><img src="{{ imgGrinning }}" class="status-emoji" /></a>
          <a (click)="selectSmirking()"><img src="{{ imgSmirking }}" class="status-emoji" /></a>
          <a (click)="selectFrowning()"><img src="{{ imgFrowning }}" class="status-emoji" /></a>
          <a (click)="selectFearful()"><img src="{{ imgFearful }}" class="status-emoji" /></a>
        </div>
        <div>
          <label class="che-label-small">Schlaf</label>
          <input pInputText placeholder="in Stunden" type="number" formControlName="schlaf" style="width: 10.6em;"
            [attr.disabled]="readonly ? 'disabled' : null" />
        </div>
      </p-panel>
    </div>

    <div style="margin-top: 0.3em;">
      <label class="che-label">Sonstiges</label>
      <p-dropdown [options]="sonstigesOptions" [(ngModel)]="sonstiges" formControlName="sonstiges"
        [editable]="!readonly" [styleClass]="'dd-width'" [placeholder]="'wählen oder eintippen...'"
        [readonly]="readonly">
      </p-dropdown>
    </div>

    <div class="form-buttons">
      <button pButton type="button" style="margin-top: 1.0em;" class="ui-button-primary" (click)="cancel()"
        label="Zurück" *ngIf="readonly"></button>
      <button pButton type="button" style="margin-top: 1.0em;" class="ui-button-primary" (click)="save()"
        label="Speichern" *ngIf="!readonly"></button>
      <button pButton type="button" style="margin-top: 1.0rem; margin-left: 0.4rem" class="ui-button-secondary"
        (click)="cancel()" label="Abbrechen" *ngIf="!readonly"></button>
    </div>

  </form>
</div>