<div class="jumbotron">
  <h1>{{ title }}</h1>
  <p>{{ welcomeMessage }}</p>
</div>
<div>
  <p-tabView>
    <p-tabPanel header="Trainings" leftIcon="fa fa-list" [selected]="true">
      <p-table #dt [value]="workouts" [rows]="workoutPageSize" [paginator]="true" [lazy]="true" [filterDelay]="500"
        [totalRecords]="totalWorkouts" (onLazyLoad)="loadWorkoutsLazy($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="colMinWithForDate">Datum</th>
            <th>Benutzer</th>
            <th>Ort</th>
            <th class="d-none d-md-table-cell">Dauer</th>
            <th class="d-none d-md-table-cell">Belastung</th>
            <th class="d-none d-lg-table-cell">Züge12</th>
            <th class="d-none d-lg-table-cell">Züge23</th>
            <th class="d-none d-lg-table-cell">Züge34</th>
          </tr>
          <tr *ngIf="isTrainer()">
            <th></th>
            <th>
              <p-dropdown [options]="userOptions" [style]="{'width':'100%'}" (onChange)="onUserChange($event, dt)">
              </p-dropdown>
            </th>
            <th></th>
            <th class="d-none d-md-table-cell"></th>
            <th class="d-none d-md-table-cell"></th>
            <th class="d-none d-lg-table-cell"></th>
            <th class="d-none d-lg-table-cell"></th>
            <th class="d-none d-lg-table-cell"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workouts let-rid="rowIndex">
          <tr>
            <td class="colMinWithForDate">
              <span class="weekday">{{ workouts.datum | date:'EE' }}</span>
              <a [routerLink]="['/workout', workouts.id]">{{ workouts.datum | date:'dd.MM.yy' }}</a>
            </td>
            <td>{{ workouts.benutzername }}</td>
            <td>{{ workouts.ort }}</td>
            <td class="d-none d-md-table-cell">{{ workouts.trainingszeit }}</td>
            <td class="d-none d-md-table-cell">{{ workouts.belastung }}</td>
            <td class="d-none d-lg-table-cell">{{ workouts.zuege12 }}</td>
            <td class="d-none d-lg-table-cell">{{ workouts.zuege23 }}</td>
            <td class="d-none d-ld-table-cell">{{ workouts.zuege34 }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Status" leftIcon="fa fa-heartbeat">
      Hier kommen die Status Daten...
    </p-tabPanel>
  </p-tabView>
</div>
